* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
/* input {
    padding: 2px;
    margin: 4px;
    transition: 0.2s all;
    border-radius: 5px;
}

input:hover {
    padding: 4px;
    margin: 2px;
} */

form > div {
    margin: 5px;
}

form > div label {
    font-weight: bold;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.elrejt {
    display: none;
}

/*---------------------*/
table th::first-letter {
    text-transform:capitalize;
}

.kesz td {
    background: #0d0;
}

.fa {
    margin: 5px;
    cursor: pointer;
}
.fa-trash {
    color: #fe0101;
    transition: 0.5s all;
}
.fa-trash:hover {
    color: #b10000;
}

.fa-pencil {
    color: #098b2a;
    transition: 0.5s all;
}
.fa-pencil:hover {
    color: #06611d;
}

.valid {
    color: #0d0;
}

.invalid {
    color: #e00;
}

#editDataDiv {
    z-index: 10000;
    position: absolute;
    width: 50%;
    background: linear-gradient(45deg, #fff, #aaa);
    border: 2px solid #aaa;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
/* ------------------------------- */

.loaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.loader {
    border: 16px solid #ccc;
    border-radius: 50%;
    border-top: 16px solid #086320;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* -------------------------------------------- */
#mainNav {
    display: block;
}
.menuItem {
    display: inline-block;
    cursor: pointer;
    background-color: darkgrey;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
}

.menuItem:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

.menuItem.active {
    background-color: #098b2a;
    color: white;
}

.menuItem.active:hover {
    background-color: #06611d;
}

/* ------------------------------------------------- */
#cardListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.card {
    width: 200px;
    aspect-ratio: 1 / 1.2;
    display: flex;
    flex-wrap: wrap;
}
.card .card-header {
    width: 100%;
    flex: 0 0 20%;
}
.card .card-content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .card-content .selectBtn {
    align-self: flex-end;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    transition: 0.3s all ease-in-out;
}

.card.publicCard .card-content .selectBtn {
    background-color: #098b2a;
}
.card.publicCard .card-content .selectBtn:hover {
    background-color: #06611d;
}

.card.selectedCard .card-content .selectBtn{
    background-color: #be1212;
}
.card.selectedCard .card-content .selectBtn:hover {
    background-color: #a01010;
}

/* ---------------------------------------- */
#alertBox {
    position: absolute;
    display: none;
    top: 0px;
    left: 50%;
    min-width: 100px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #888;
    overflow: hidden;
}
#alertBox .content {
    width: 100%;
    height: 100%;
    text-align: center;
}
#alertBox .loaderbar {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #06611d;
}

.notifyIn {
    animation: notifyIn 0.5s;
}

.notifyOut {
    animation: notifyOut 0.5s;
    top: -50px;
}

@keyframes notifyIn {
    0% {
        top: -50px;
    }
    
    55% {
        top: 10px;
    }

    70% {
        top: -5px;
    }

    85% {
        top: 5px
    }

    100% {
        top: 0;
    }
}

@keyframes notifyOut {
    0% {
        top: 0;
    }

    100% {
        top: -50px;
    }
}